.backgroundConocenos {
  background-image: url(../imagenes/background/backgroundconocenos-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fontCajaSubTituloConocenos {
  font-family: $fontCourgette;
}

.fontCajaSubConocenos {
  font-family: $fontSans;
}

.tamanoImgConocenos {
  width: 100%;
}

.backGroundConocenos {
  background-color: rgb(31, 23, 12);
}