.backgroundConocenos {
  @extend .backgroudnSeccionGral;
  background-image: url(../imagenes/background/backgroundconocenos-min.jpg); 
}

.fontCajaSubTituloConocenos {
  @include fuentes($fontCourgette,40px,$white)
}

.fontCajaSubConocenos {
  @include fuentes($fontSans,23px,$white)
}

.tamanoImgConocenos {
  width: 100%;
}

.backGroundConocenos {
  background-color: rgb(31, 23, 12);
}