@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Rubik:wght@500&display=swap");

//vars fonts
$fontRobot: "Roboto Mono", monospace;
$fontCaveat: "Caveat", cursive;
$fontCourgette: "Courgette", cursive;
$fontRubik: "Rubik", sans-serif;
$fontSans: "Open Sans", sans-serif;
// tamaños
$letraChica: 5px;
$letraMediana: 18px;
$letraGrande: 22px;
$letraTitulos: 50px;