.bgFooter {
    background-color: rgb(27, 27, 27);

    a {
        color: $white;
        font-size: 45px;
    }

    p {
        color: $white;
        font-family: $fontSans;
    }

    label {
        color: $white;
        font-family: $fontSans;
    }
}