// Pagina Home
.backgroudnSeccionGral {
  background-image: url(../imagenes/background/backgroundboddy-min.jpg);

  h1 {
    @include fuentes($fontCourgette, 43px, map-get($map:$paleta, $key:'blanco'));
  }

  p {
    @include fuentes($fontSans, 18px, map-get($map:$paleta, $key:'blanco'));
  }
}

.bgTextoPrincipal {
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 10px;
}

.anchoIndex {
  height: 55rem;
}

.blanquito {
  color:map-get($map:$paleta, $key:'blanco');
}

/* Carrousel recomendacion */
.colorCarru {
  background-color: map-get($map:$paleta, $key:'blanco');
  height: 19rem;
}

.colorCarrousel1 {
  background-color: rgba(51, 51, 50, 0.877);
}

.flexCenterText {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.alturaItem {
  height: 100%;
}

.backGroundOpi {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.952);

  h3 {
    @include fuentes($fontCourgette, 45px, map-get($map:$paleta, $key:'negro'));
  }
}

.margenCarrusel {
  margin-top: 40px;

  h2 {
    @include fuentes($fontCourgette, 45px, map-get($map:$paleta, $key:'negro'));
  }

  p {
    text-align: center;
    @include fuentes($fontSans, $letraGrande, map-get($map:$paleta, $key:'negro'));
  }
}
