// Pagina Home
.backgroudnSeccionGral {
  background-image: url(../imagenes/background/backgroundboddy-min.jpg);

  h1 {
    @include fuentes($fontCourgette, 57px, $white);
  }

  p {
    @include fuentes($fontSans, 20px, $white);
  }
}

.bgTextoPrincipal {
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 10px;
}

.anchoIndex {
  height: 64rem;
}

.blanquito {
  color: $white;
}

/* Carrousel recomendacion */
.colorCarru {
  background-color: rgb(255, 255, 255);
  height: 19rem;
}

.colorCarrousel1 {
  background-color: rgba(51, 51, 50, 0.877);
}

.flexCenterText {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.alturaItem {
  height: 100%;
}

.backGroundOpi {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.952);

  h3 {
    @include fuentes($fontCourgette, 45px, $mainColorBlack);
  }
}

.margenCarrusel {
  margin-top: 40px;

  h2 {
    @include fuentes($fontCourgette, 60px, $mainColorBlack);
  }

  p {
    text-align: center;
    @include fuentes($fontSans, 30px, $mainColorBlack);
    @extend .intensidadTextGral;
  }
}
.margenCarrusel2 {
  margin-top: 200px;

  h2 {
    @include fuentes($fontCourgette, 45px, $turquesa);
  }

  p {
    text-align: center;
    @include fuentes($fontSans, 30px, $white);
    @extend .intensidadTextGral;
  }
}
.barraCafe {
  width: 900px;
  height: 650px;
  background-color: $cafe;
  border-radius: 20px;
}
