// MENU DE PRODUCTOS

.bordesMenu {
  border-radius: 20px;
}

.intensidadTexto {
  font-weight: 600;
}

.backgroundMenu {
  @extend .backgroudnSeccionGral;
  background-image: url(../imagenes/background/backmenuproductos.jpg);
}

.anchoMenu {
  height: 22rem;

  h1 {
    @include fuentes($fontCourgette, $letraTitulos, $white);
  }
}

.categoriaCatalogos {
  margin-top: 180px;
  font-weight: 500;
  width: fit-content;
  @include fuentes($fontPopi, 60px, $mainColorBlack);
  font-weight: 600;
}

.MargenGeneralCaja1 {
  margin-top: 180px;
}
.MargenGeneralCaja3 {
  margin-bottom: 180px;
}

.cajitaProductos {
  width: 350px;
  background-color: $cafe;
  h2 {
    @include fuentes($fontPopi, 2rem, $white);
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    color: $white;
    font-family: $fontSans;
    text-align: center;
  }
  .precioColor {
    @include fuentes($fontRobot, $letraGrande, $turquesa);
    font-weight: 600;
  }
}
.imagenCafe {
  margin-top: -100px;
}

.cajitaProductos:hover {
  transform: scale(1.04);
  transition: 1s ease;
}
