// TUTORIALES

.backgroundTutoriales {
  @extend .backgroudnSeccionGral;
  background-image: url(../imagenes/background/backgroundTutorial-min.jpg);
  background-position: center;
}

.anchoTutoriales {
  height: 23rem;

  h1 {
    @include fuentes($fontCourgette, $letraTitulos, $white);
  }
}

.anchoMenuTutoriales {
  height: 10rem;
  background-color: rgb(255, 255, 255);
}

.alturaMainTutoriales {
  min-height: 100vh;
}

.textoTamanoTutoriales {
  h2 {
    @include fuentes($fontCourgette, 38px, $mainColorBlack);
  }

  h3 {
    @include fuentes($fontCourgette, 38px, $mainColorBlack);
  }
  p {
    font-size: 20px;
  }
}

.backGroundTutorialesdos {
  background-image: url(../imagenes/background/backtutodos-min.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-top: 100px;
  margin-bottom: 100px;

  h3 {
    @include fuentes($fontCourgette, 50px, $white);
  }
}
